[flake8]

# Максимальная длина строки
max-line-length = 119

# Игнорируемые правила (примеры популярных предупреждений, которые можно выключить)
ignore =
    E203,
    W503,
    D100,
    D101,
    D102,
    D103,
    D104,
    D105,
    D106,
    D107,
    D205,
    D209,
    D400,
    D401,
    D415,
    D416,
    D417,
    D419,
    D413,
    D414,
    D415,
    D416,
    D417,
    D418,
    D419

# Источники проверок (папки и файлы, которые нужно анализировать)
sources = src, tests, main.py

# Исключаемые папки и файлы
exclude =
    .git,
    docs/,
    *.pyc,
    __pycache__,
    build/,
    dist/

# Показывать источник ошибки
show-source = true

# Показывать статистику
statistics = true